**/.DS_Store
.vscode
*.log
build
**/*.o
**/fastrg
**/fastrg_northbound
**/.libs
unit_test/unit-tester
northbound/controller/test/test_etcd_watch_teardown
**/*.gcda
**/*.gcno
coverage/
**/fastrg_cli
**/libfastrg_northbound.a
**/*.pb.*
src/version.h
northbound/controller/proto
.github/*.md
CLAUDE.md
AGENTS.md
.claude
.codex
